In [1]:
#data preprocessing

#importing the libraries
from IPython.display import display

import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import sklearn
from sklearn import model_selection
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
from sklearn.naive_bayes import GaussianNB
from sklearn.svm import SVC
from sklearn.metrics import confusion_matrix
import warnings; warnings.simplefilter('ignore')

In [2]:
testset = pd.read_csv('./Test.csv',header= None)
myrow= testset
display((myrow))

dataset = pd.read_csv('./Dataset.csv',header= None)
display(dataset.shape)

frames = [dataset, myrow]
dataset = pd.concat(frames)

   0     1  2  3  4   5    6      7           8
0  1  15.3  C  8  R  WI  1.5  50000  Programmer

(994, 10)

In [3]:
pd.options.display.max_columns=1000
pd.options.display.max_rows=1000
#importing the dataset
dataset = dataset.iloc[1:, :]
y= dataset.iloc[:-1,-1:]

dataset = dataset.iloc[:, :-1]


#display(dataset.head(5))
display(dataset.head(n=10))

#display(set(dataset[0]))
display(len(set(dataset[0])))

#display(set(dataset[1]))
#display(len(set(dataset[1])))

display(set(dataset[2]))
display(len(set(dataset[2])))

#display(set(dataset[3]))
#display(len(set(dataset[3])))

display(set(dataset[4]))
display(len(set(dataset[4])))

display(set(dataset[5]))
display(len(set(dataset[5])))

#display(set(dataset[6]))
display(len(set(dataset[6])))


#display(set(dataset[7]))
display(len(set(dataset[7])))


display(set(dataset[8]))
display(len(set(dataset[8])))


#display(set(dataset[9]))
#display(len(set(dataset[9])))


x = dataset.values
#encoding categorical data
from sklearn.preprocessing import LabelEncoder, OneHotEncoder

#first applying label encoding to convert strings to number.
#display(x[:,2])
labelencoder_x_1 = LabelEncoder()
labelencoder_x_2 = LabelEncoder()
labelencoder_x_3 = LabelEncoder()
labelencoder_x_4 = LabelEncoder()
x[:, 2] = labelencoder_x_1.fit_transform(x[:, 2])
x[:, 4] = labelencoder_x_2.fit_transform(x[:, 4])
x[:, 5] = labelencoder_x_3.fit_transform(x[:, 5])
x[:, 8] = labelencoder_x_4.fit_transform(x[:, 8])

display(set(x[:,2]))
display(set(x[:,4])) 
display(set(x[:,5]))
display(set(x[:,8]))

    0     1  2  3  4   5     6      7          8
1   1  11.6  A  2  P  WI  0.98  14880  Home User
2   1  15.6  A  2  P  CH  2.19  15430  Home User
3   1    14  A  2  Q  WI  1.65  15430  Home User
4   1    14  A  4  P  WI  1.22  15733  Home User
5   1  15.6  A  4  P  LI     2  17369  Home User
6   3    14  A  4  P  WI  1.44  17757  Home User
7   1    14  A  2  P  WI   1.4  18532  Home User
8   1  15.6  A  4  P  WI  1.89  18997  Home User
9   1  11.6  A  2  P  WI   1.1  18997  Home User
10  1  15.6  A  4  P  WI  1.89  19300  Home User

5

{'A', 'B', 'C', 'D'}

4

{'P', 'Q', 'R', 'S', 'T'}

5

{'CH', 'LI', 'MA', 'NO', 'WI'}

5

162

636

{'Data Scientist', 'Executive', 'Gamer', 'Home User', 'Programmer', 'Student'}

6

{0, 1, 2, 3}

{0, 1, 2, 3, 4}

{0, 1, 2, 3, 4}

{0, 1, 2, 3, 4, 5}

In [4]:
#display(dataset.describe(include='all'))# Now applying one-hot-encoding to map the numbers to appropiate weights.
onehotencoder_1 = OneHotEncoder(categorical_features = [2])
x = onehotencoder_1.fit_transform(x).toarray()

df=pd.DataFrame(x)
#display(df.head(n=100))
#display(df.describe())

In [5]:
onehotencoder_2 = OneHotEncoder(categorical_features = [7])
x = onehotencoder_2.fit_transform(x).toarray()

#df=pd.DataFrame(x)
#display(df.describe())

In [6]:
onehotencoder_3 = OneHotEncoder(categorical_features = [12])
x = onehotencoder_3.fit_transform(x).toarray()
#df=pd.DataFrame(x)
#display(df.describe())

In [7]:
onehotencoder_4 = OneHotEncoder(categorical_features = [19])
x = onehotencoder_4.fit_transform(x).toarray()
#df=pd.DataFrame(x)
#display(df.describe())

In [8]:
#Run This Cell Only for Training Purpose

dataset_train= x

In [9]:
#Run This Cell Only for Training Purpose

dataset_train1 = dataset_train[:-1]
x_train =  dataset_train1
y_train = y
display(x_train.shape)
display(y_train.shape)


from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(dataset_train1, y, test_size = 0.01, random_state = 0)
#spliutting in 70% and 30%

display(x_train.shape)
display(y_train.shape)
display(x_test.shape)
display(x_test.shape)

#feature scaling
from sklearn.preprocessing import StandardScaler
sc_x = StandardScaler()
x_train = sc_x.fit_transform(x_train)
x_test = sc_x.transform(x_test)

df2 = pd.DataFrame(x_train)
display(df2.head())


models = []
models.append(('Logistic Regression', LogisticRegression()))
models.append(('Linear Discriminant Analysis', LinearDiscriminantAnalysis()))
#models.append(('K-Nearest Neighbour ', KNeighborsClassifier()))
models.append(('Decison Tree', DecisionTreeClassifier()))
models.append(('Guassian Naive Bayes', GaussianNB()))
models.append(('SVM', SVC()))

for name,model in models:
    
    # Fitting Naive Bayes to the Training set
    classifier = model
    classifier.fit(x_train, y_train)

    # Predicting the Test set results
    y_pred = classifier.predict(x_test)

    # Making the Confusion Matrix
    from sklearn.metrics import confusion_matrix
    cm = confusion_matrix(y_test, y_pred)

    # Applying k-Fold Cross Validation
    from sklearn.model_selection import cross_val_score
    accuracies = cross_val_score(estimator = classifier, X = x_train, y = y_train, cv = 10)
    accuracies.mean()
    accuracies.std()
    
    print()
    print("For {0} The Performance result is: ".format(name))
    print()

    #the performance of the classification model
    print("the Accuracy is: "+ str((cm[0,0]+cm[1,1])/(cm[0,0]+cm[0,1]+cm[1,0]+cm[1,1])))
    recall = cm[1,1]/(cm[0,1]+cm[1,1])
    print("Recall is : "+ str(recall))
    print("False Positive rate: "+ str(cm[1,0]/(cm[0,0]+cm[1,0])))
    precision = cm[1,1]/(cm[1,0]+cm[1,1])
    print("Precision is: "+ str(precision))
    print("F-measure is: "+ str(2*((precision*recall)/(precision+recall))))
    from math import log
    print("Entropy is: "+ str(-precision*log(precision)))


display(y_test.transform)
display(y_pred)

(993, 25)

(993, 1)

(983, 25)

(983, 1)

(10, 25)

(10, 25)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24
0,2.338184,-0.476672,-0.48629,-0.449123,-0.492677,-0.343971,-0.147748,-0.226576,-0.132659,-0.238724,0.405823,-0.305675,-0.424349,1.212373,-0.585573,-0.336527,-0.479883,-0.710887,1.449464,-0.427682,2.185059,0.384385,-0.102937,-0.034110,-0.378187
1,-0.427682,-0.476672,-0.48629,-0.449123,2.029727,-0.343971,-0.147748,-0.226576,-0.132659,-0.238724,0.405823,-0.305675,-0.424349,-0.824828,1.707728,-0.336527,-0.479883,-0.710887,1.449464,-0.427682,-0.506561,-0.760616,-0.102937,-1.101059,0.759008
2,-0.427682,-0.476672,-0.48629,-0.449123,-0.492677,2.907219,-0.147748,-0.226576,-0.132659,-0.238724,0.405823,-0.305675,-0.424349,1.212373,-0.585573,-0.336527,2.083841,-0.710887,-0.689910,-0.427682,2.185059,0.384385,-0.912436,0.545092,-1.013603
3,-0.427682,-0.476672,-0.48629,-0.449123,-0.492677,2.907219,-0.147748,-0.226576,-0.132659,-0.238724,0.405823,-0.305675,-0.424349,1.212373,-0.585573,-0.336527,2.083841,-0.710887,-0.689910,-0.427682,-0.506561,0.384385,-0.912436,-0.277984,-0.973258
4,2.338184,-0.476672,-0.48629,-0.449123,-0.492677,-0.343971,-0.147748,-0.226576,-0.132659,-0.238724,0.405823,-0.305675,-0.424349,1.212373,-0.585573,-0.336527,2.083841,-0.710887,-0.689910,-0.427682,-0.506561,-1.261553,-0.912436,-0.598068,-0.386784

For Logistic Regression The Performance result is:

the Accuracy is: 1.0
Recall is : 1.0
False Positive rate: 0.0
Precision is: 1.0
F-measure is: 1.0
Entropy is: -0.0

For Linear Discriminant Analysis The Performance result is:

the Accuracy is: nan
Recall is : nan
False Positive rate: nan
Precision is: nan
F-measure is: nan
Entropy is: nan

For Decison Tree The Performance result is:

the Accuracy is: 1.0
Recall is : 1.0
False Positive rate: 0.0
Precision is: 1.0
F-measure is: 1.0
Entropy is: -0.0

For Guassian Naive Bayes The Performance result is:

the Accuracy is: 1.0
Recall is : 1.0
False Positive rate: 0.0
Precision is: 1.0
F-measure is: 1.0
Entropy is: -0.0

For SVM The Performance result is:

the Accuracy is: 1.0
Recall is : 1.0
False Positive rate: 0.0
Precision is: 1.0
F-measure is: 1.0
Entropy is: -0.0

<bound method DataFrame.transform of       9
821  12
723  11
32    1
549   9
968  14
962  14
893  13
232   5
712  11
842  12>

array(['12', '11', '1', '9', '14', '13', '13', '5', '11', '12'],
      dtype=object)

In [12]:
# Run this cell, while giving a test input for prediction

x_test= dataset_train[-1:,:]
display(x_test.shape)
x_train= dataset_train[:-1,:]
y_train = y
display(y_train.shape)
display(x_train.shape)

from sklearn.model_selection import train_test_split

#feature scaling
from sklearn.preprocessing import StandardScaler
sc_x = StandardScaler()
x_train = sc_x.fit_transform(x_train)
x_test = sc_x.transform(x_test)

df2 = pd.DataFrame(x_train)
display(df2.head())

models = []
models.append(('Logistic Regression', LogisticRegression()))
models.append(('Linear Discriminant Analysis', LinearDiscriminantAnalysis()))
#models.append(('K-Nearest Neighbour ', KNeighborsClassifier()))
models.append(('Decison Tree', DecisionTreeClassifier()))
models.append(('Guassian Naive Bayes', GaussianNB()))
models.append(('SVM', SVC()))

for name,model in models:


    classifier = model
    classifier.fit(x_train, y_train)

    # Predicting the Test set results
    y_pred = classifier.predict(x_test)
    print("Using the {0} model : ".format(name))

    display("The Predicted Category Laptop is : ")
    display(y_pred)
    print()

(1, 25)

(993, 1)

(993, 25)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24
0,-0.425132,-0.478498,-0.489592,2.232023,-0.492751,-0.342031,-0.146986,-0.225374,-0.131977,-0.237451,0.403440,3.268387,-0.423480,-0.819584,-0.589368,-0.338346,2.089873,-0.711919,-0.687963,-0.430075,-0.504914,-2.475315,-1.320118,-1.609623,-1.328892
1,-0.425132,-0.478498,-0.489592,2.232023,-0.492751,-0.342031,6.803361,-0.225374,-0.131977,-0.237451,-2.478686,3.268387,-0.423480,-0.819584,-0.589368,-0.338346,2.089873,-0.711919,-0.687963,-0.430075,-0.504914,0.387054,-1.320118,0.225949,-1.318780
2,-0.425132,-0.478498,-0.489592,2.232023,-0.492751,-0.342031,-0.146986,-0.225374,-0.131977,-0.237451,0.403440,-0.305961,2.361389,-0.819584,-0.589368,-0.338346,2.089873,-0.711919,-0.687963,-0.430075,-0.504914,-0.757894,-1.320118,-0.593232,-1.318780
3,-0.425132,-0.478498,-0.489592,2.232023,-0.492751,-0.342031,-0.146986,-0.225374,-0.131977,-0.237451,0.403440,3.268387,-0.423480,-0.819584,-0.589368,-0.338346,2.089873,-0.711919,-0.687963,-0.430075,-0.504914,-0.757894,-0.914148,-1.245542,-1.313209
4,-0.425132,-0.478498,-0.489592,2.232023,-0.492751,-0.342031,-0.146986,4.437060,-0.131977,-0.237451,-2.478686,3.268387,-0.423480,-0.819584,-0.589368,-0.338346,2.089873,-0.711919,-0.687963,-0.430075,-0.504914,0.387054,-0.914148,-0.062281,-1.283130

Using the Logistic Regression model :

'The Predicted Category Laptop is : '

array(['6'], dtype=object)

Using the Linear Discriminant Analysis model :

'The Predicted Category Laptop is : '

array(['12'], dtype='<U2')

Using the Decison Tree model :

'The Predicted Category Laptop is : '

array(['6'], dtype=object)

Using the Guassian Naive Bayes model :

'The Predicted Category Laptop is : '

array(['6'], dtype='<U2')

Using the SVM model :

'The Predicted Category Laptop is : '

array(['6'], dtype=object)